
		body
		{
			font-family:Tangerine;
		}
		.main img
		{
			width:100%;
		}
		h1
		{
			font-size:26px;
		}
		h3
		{
			font-size:15px;
		}
		.header
		{
			padding:5px;
			border: 1px solid #ff9933;
			background-color:#ff9933;
		}
		.menuitem
		{
			margin: 5%;
			margin-left: 0;
			margin-top: 0;
			padding: 5%;
			border-bottom: 1px solid #e9e9e9;
			cursor: pointer;
		}
		.main 
		{
			padding:10px;
		}
		.right 
		{
			padding:1px;
			
		}
		.footer
		{
			padding: 1.0121457489878542510121457489879%;
			text-align: center;
			background-color: green;
			border: 1px solid #e9e9e9;
			
		}
		.all 
		{
		    margin-bottom: 2%;
            margin-right: 2%;
			width: 100%;
		}
		.gridwrapper 
		{
			overflow: hidden;
		}
		
		.gridbox 
		{
			margin-bottom: 2%;
			margin-right: 2%;
			float: left;
		}

		.gridheader 
		{
			width: 100%;
		}

		.gridmenu 
		{
			width: 25%;
		}

		.gridmain 
		{
			width: 49%;
		}

		.gridright 
		{
			width: 20%;
			margin-right: 0;
		}

		.gridfooter 
		{
			width: 100%;
			margin-bottom: 0;
		}
@media only screen and (max-width: 500px) {
    .gridmenu {
        width: 100%;
    }

    .menuitem {
        margin: 1%;
        padding: 1%;
    }

    .gridmain {
        width: 100%;
    }

    .main {
        padding: 1%;
    }

    .gridright {
        width: 100%;
    }

    .right {
        padding: 1%;
    }

    .gridbox {
        margin-right: 0;
        float: left;
    }
}
		
